<div class="container mt-4">
    <img src="img/tp-logo.png" alt="Teleperformance, each interaction matters" class="img-fluid" width="80%"
        style="margin:auto; display:block;">
</div>
<br>
<h1 class="text-center">Event-driven usability in the Ezra chatbot</h1>